.title,
.subtitle {
    text-align: center;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 50px;
}