.submit {
  border: none;
  background: linear-gradient(180deg, #f00000, #f00000 16.67%, #ff8000 16.67%, #ff8000 33.33%, #ffff00 33.33%, #ffff00 50%, #007940 50%, #007940 66.67%, #4040ff 66.67%, #4040ff 83.33%, #a000c0 83.33%, #a000c0);
  padding: 10px 20px;
  border-radius: 5px;
  color: pink;
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 30px;
  margin-left: auto;
  cursor: pointer;
}