*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 100vw;
}

main {
    max-width: 100%;
}

#coin {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    transition: transform 1s ease-in;
    transform-style: preserve-3d;
}
#coin div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3),
    0 12px 20px -10px rgba(0, 0, 0, 0.4);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-a {
    background-color: #bb0000;
    color: white;
    transform: rotateY(0deg);
}
.side-b {
    background-color: #3e3e3e;
    color: white;
    transform: rotateY(180deg);
}

#coin.animate.heads {
    animation: flipHeads 2s ease-out forwards;
}
#coin.animate.tails {
    animation: flipTails 2s ease-out forwards;
}

@keyframes flipHeads {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(540deg);
    }
}
@keyframes flipTails {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(720deg);
    }
}
